h1 {
  font-family: "Cambria", "Open Sans", "sans-serif";
  margin: 2px;
  padding: 2px;
}
text {
    font-family: "Cambria", "Open Sans", "sans-serif";
}
body {
	background-color: #64cded;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	color: #3907de;
    margin: none;
}
#container{
    display: flex;
    align-items: center;
    width: 100%;
}
#map{
    min-height: 750px;
    min-width: 750px;
	border-radius: 7px;
}
#right{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 40px;
	padding-left: 40px;
}
.center {
  margin: auto;
  width: auto;
  padding: 5px;
}
.data-text {
	text-align: right;
	display: inline-block;
	font-size: 24px;
	margin-bottom: 0px;
}
.data-data {
	display: inline-block;
	font-size: 22px;
	margin-bottom: 0px;
	font-weight: bold;
}
